{
  "autoboot": false,
  "brand": "kvm",
  "ram": 768,
  "hostname": "template",
  "alias": "template",
  "vcpus": "1",
  "vnc_port": 31080,
  "resolvers": [],
  "customer_metadata": {
      "root_authorized_keys": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDjXQzfn0BcbL+nwmEPP3+OEnhGGWzEIsWv3tc+rz5LtyyjMVndsHsVhSpLxfGujNMrUVv6Iy9p5+pjyNnVffko/+sxD7rq10/wGdm4Bz51pMV7JgmA00B2zbT/EQrA/A/7eza+Uj2e28fD1KzgWAM6HhXGAnZIn1ufgPXtegPeyWeGfhNHffGrgOreSBDTpHD0m5hWuBE694Q1p7HpuxR4luQaFFlRmgj6q0Pj+i/eh6Au5d5dpKGJVuwWCwawuvme/RnxdwMxeZDA8EjVmTMJjIqyDeNCLH2ngaBkOzmyJFvwLHDX//2Ik5kdS9v2s37hmE//52vgtdITNRTrOYO3 root@ab6f0319-72c7-6d10-e1b1-9828178b20b7.localdomain"
  },
  "disks": [
    {
      "boot": true,
      "size": 10000,
      "block_size": 4096,
      "model": "virtio"
    }
  ],
  "nics": [
    {
      "interface": "net0",
      "vlan_id": 0,
      "nic_tag": "external",
      "gateway": "10.12.14.1",
      "netmask": "255.255.254.0",
      "ip": "10.12.15.199",
      "model": "virtio",
      "primary": true
    },
    {
      "interface": "net1",
      "vlan_id": 0,
      "nic_tag": "external",
      "netmask": "255.255.0.0",
      "ip": "172.16.10.199",
      "model": "virtio"
    }
  ]
}